Repository Leets-Makers/Leenk-MOBILE, pull requests merged in 2025-06, with the labels that each got.

#2 LNK-M-1 전역 스타일 설정
  api/api.ts
  app.json
  app/(page)/_layout.tsx
  app/(page)/feed.tsx
  app/(page)/leenk.tsx
  app/(page)/mypage.tsx
  app/(page)/private.tsx
  app/(page)/write.tsx
  app/(tabs)/_layout.tsx
  app/(tabs)/index.tsx
  app/(tabs)/two.tsx
  app/+html.tsx
  app/_layout.tsx
  app/modal.tsx
  assets/fonts/NanumSquareNeo-aLt.ttf
  assets/fonts/NanumSquareNeo-bRg.ttf
  assets/fonts/NanumSquareNeo-cBd.ttf
  assets/fonts/NanumSquareNeo-dEb.ttf
  assets/fonts/NanumSquareNeo-eHv.ttf
  assets/fonts/SpaceMono-Regular.ttf
  assets/images/Logo_symbol.svg
  assets/images/Logo_text.svg
  assets/images/adaptive-icon.png
  assets/images/favicon.png
  assets/images/ic_navi_feed.svg
  assets/images/ic_navi_leenk.svg
  assets/images/ic_navi_lock.svg
  assets/images/ic_navi_mypage.svg
  assets/images/ic_navi_plus.svg
  assets/images/icon.png
  components/EditScreenInfo.tsx
  components/Index.tsx
  components/StyledText.tsx
  components/__tests__/StyledText-test.js
  components/useClientOnlyValue.ts
  components/useClientOnlyValue.web.ts
  components/useColorScheme.ts
  components/useColorScheme.web.ts
  constants/Colors.ts
  declarations.d.ts
  metro.config.js
  package-lock.json
  package.json
  theme/Themed.tsx
  theme/color.ts
Labels: ⚙️Chore, ✨Feat, 🎨Style

#9 LNK-M-5 Feat: 공통컴포넌트 추가 구현
  app/(page)/feed.tsx
  assets/images/ic_alarm.svg
  assets/images/ic_back_arrow.svg
  assets/images/ic_checkbox.svg
  assets/images/ic_close.svg
  assets/images/ic_kebab.svg
  assets/index.tsx
  components/common/Badge.tsx
  components/common/CheckBox.tsx
  components/common/Header.tsx
  components/common/Textarea.tsx
  components/common/Toggle.tsx
  components/examples/BadgeExamples.tsx
  components/examples/HeaderExamples.tsx
  components/examples/ToggleExample.tsx
  components/index.tsx
  utils/button-style.ts
Labels: ✨Feat, 🎨Style

#19 LNK-M-10 컴포넌트 리팩토링
  android/app/src/main/java/com/anonymous/Leenk/MainActivity.kt
  android/app/src/main/java/com/anonymous/Leenk/MainApplication.kt
  android/gradlew
  android/gradlew.bat
  app/(page)/_layout.tsx
  app/(page)/feed.tsx
  app/(page)/leenk.tsx
  app/(page)/mypage.tsx
  app/(page)/private.tsx
  app/(post)/feed.tsx
  app/(post)/feed/[id]/index.tsx
  app/(post)/feed/write.tsx
  app/account/edit.tsx
  app/account/index.tsx
  app/account/setting/account-status.tsx
  app/account/setting/help.tsx
  app/account/setting/index.tsx
  app/account/setting/notifications.tsx
  app/index.tsx
  app/signup/profile.tsx
  app/signup/verify.tsx
  assets/images/ic_congratsLogo.png
  assets/images/ic_congratsLogo.svg
  assets/images/onboarding/slide1.png
  assets/images/onboarding/slide2.png
  assets/images/onboarding/slide3.png
  assets/images/onboarding/slide4.png
  assets/index.tsx
  components/Modal/BottomSheetModal.tsx
  components/Modal/MenuModal.tsx
  components/Modal/PopupModal.tsx
  components/Modal/WriteMenuModal.tsx
  components/OnBoarding.tsx
  components/Toast.tsx
  components/common/Button/CustomButton.tsx
  components/common/Header.tsx
  components/common/Header/BackButton.tsx
  components/common/Header/BellButton.tsx
  components/common/Header/Header.tsx
  components/common/Header/KebabButton.tsx
  components/common/Header/SettingButton.tsx
  components/common/Input.tsx
  components/common/Textarea.tsx
  components/examples/HeaderExamples.tsx
  components/feed/BackgroundImageSlider.tsx
  components/index.tsx
  components/mypage/ProfileCard.tsx
  components/signup/ProfileTitleText.tsx
  constants/MbtiList.ts
  constants/dimension.constants.ts
  constants/onBoardingData.ts
  hooks/useFirstLaunch.ts
  package-lock.json
  package.json
  theme/globalStyles.ts
  utils/button-style.ts
Labels: 🐛BugFix, ✨Feat, ♻️Refactor
